@using Procurable.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<!-- Login -->
<div class="container account">
    <div class="card card-container">
        <img src="@Url.Content("~/Content/Images/ProcurableRed.png")" class="img-responsive" />
        <section id="loginForm" style="padding-top: 40px">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <div id="remember" class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Log in">Sign in</button>
                <button class="btn btn-lg btn-primary btn-block btn-signin" onclick="location.href='@Url.Action("Register")'" type="button">Register</button>
            }
            </section>
    </div><!-- /card-container -->
</div><!-- /container -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}