@model Procurable.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!-- Login -->
<div class="container account">
    <div class="card card-container">
        <img src="@Url.Content("~/Content/Images/ProcurableRed.png")" class="img-responsive" />
        <section id="loginForm" style="padding-top: 40px">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                @Html.EditorFor(m => m.Department);
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Register">Register</button>
                <a class="">Sign In</a>

            }
        </section>
    </div><!-- /card-container -->
</div><!-- /container -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}