@model Procurable.Models.ProjectTask

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-10">
        <h2 style="display:inline-block ">@(Model.Name ?? "Task")</h2>
        <div class="projectStatus">
            <h4>
                @Html.DisplayFor(model => model.Status, "_ProjectStatus")
            </h4>
        </div>
    </div>
    <div class="col-md-2">
        <br />
        <div class="pull-right">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

<div>
    <hr style="margin-top:0" />
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo, "User")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNeeded)
        </dt>

        <dd>
            @Model.DateNeeded.ToString("d")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
