@model Procurable.Models.ProjectTask

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-10">
        <h2 style="display:inline-block ">@(Model.Name ?? "Task")</h2>
        <div class="projectStatus">
            <h4>
                @Html.DisplayFor(model => model.Status, "_ProjectStatus")
            </h4>
        </div>
    </div>
    <div class="col-md-2">
        <br />
        <div class="pull-right">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

<div>
    <hr style="margin-top:0" />
    <dl>
        <dt>
            Project
        </dt>
        <dd>
            @Html.ActionLink(Model.ProjectID.ToString().PadLeft(8, '0'), "Details", "Projects",  new { id = Model.ProjectID }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo, "User")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNeeded)
        </dt>

        <dd>
            @Model.DateNeeded.ToString("d")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-4"><span class="text-muted">@Html.DisplayNameFor(model => model.CreatedBy): @Html.DisplayFor(model => model.CreatedBy, "User")</span></div>
    <div class="col-md-4"><span class="text-muted">@Html.DisplayNameFor(model => model.LastModified): @Html.DisplayFor(model => model.LastModified)</span></div>
    <div class="col-md-4"><span class="text-muted">@Html.DisplayNameFor(model => model.CreatedDate): @Html.DisplayFor(model => model.CreatedDate)</span></div>
</div>