@{
    var Vendors = "Vendors";
    var Inventories = "Inventories";
    var InventoryItems = "InventoryItems";
    var PurchaseOrder = "PurchaseOrders";
    var RequestedItems = "RequestedItems";
    var Requests = "Requests";
    var ProjectTasks = "ProjectTasks";
    var Projects = "Projects";
    var Controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")




</head>

<body>

    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
               <img src="@Url.Content("~/Content/Images/ProcurableRed.png")" class="navbar-brand" />
              
            </div>

            <ul class="nav navbar-right top-nav">
                @Html.Partial("_LoginPartial")

            </ul>

            

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-pills">
                    <li class="@if (RequestedItems == Controller) { Write("active"); }">@Html.ActionLink("Requests", "", "RequestedItems")</li>
                    <li class="@if (Projects == Controller) { Write("active"); }">@Html.ActionLink("Inventory", "", "Requests")</li>
                    <li class="@if (Projects == Controller) { Write("active"); }">@Html.ActionLink("Projects", "", "Requests")</li>
                    <li class="@if (Requests == Controller) { Write("active"); }">@Html.ActionLink("Administration", "", "Account/Register")</li>
                    <li class="@if (Requests == Controller) { Write("active"); }">@Html.ActionLink("Mobile", "", "Home/Mobile")</li>

                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <nav class="navbar navbar-fixed-top navbar-lower" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse collapse-buttons">
                <ul class="nav navbar-nav nav-pills">
                    
                    <li class="@if (Vendors == Controller) { Write("active"); }">@Html.ActionLink("Vendors", "", "Vendors")</li>
                    <li class="@if (Inventories == Controller) { Write("active"); }">@Html.ActionLink("Inventories", "", "Inventories")</li>
                    <li class="@if (InventoryItems == Controller) { Write("active"); }">@Html.ActionLink("Inventory Items", "", "InventoryItems")</li>
                    <li class="@if (PurchaseOrder == Controller) { Write("active"); }">@Html.ActionLink("Purchase Order", "", "PurchaseOrders")</li>
                    <li class="@if (RequestedItems == Controller) { Write("active"); }">@Html.ActionLink("Requested Items", "", "RequestedItems")</li>
                    <li class="@if (Requests == Controller) { Write("active"); }">@Html.ActionLink("Requests", "", "Requests")</li>
                    <li class="@if (ProjectTasks == Controller) { Write("active"); }">@Html.ActionLink("Tasks", "", "ProjectTasks")</li>
                    <li class="@if (Projects == Controller) { Write("active"); }">@Html.ActionLink("Projects", "", "Projects")</li>
                </ul>
            </div>
        </div>
    </nav>

    

       

    <div class="container">
                
            @RenderBody()
              
    </div>
    <!-- /.container-fluid -->

      

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/handsontable")

</body>
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; @DateTime.Now.Year - Procurable</p>
    </div>
</footer>
</html>
