@model Procurable.Models.Vendor

@{
    ViewBag.Title = "Details";
}

@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default btn-lg pull-right", @style="margin-top:10px;" }) 
<h2><img class="img-rounded" src="https://logo.clearbit.com/@Model.Website.Replace("http:","").Replace("/","").ToLower()?size=32"> @Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl>
  
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>
</div>
@if (ViewData["InventoryItems"] != null)
{
    <h4>Items in Inventory</h4>
    @Html.Partial("DisplayTemplates/InventoryItemsIndex", ViewData["InventoryItems"]);
}