@model IEnumerable<Procurable.Models.Vendor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-rounded" src="https://logo.clearbit.com/@item.Website.Replace("http:","").Replace("/","").ToLower()?size=32">
        </td>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
    </tr>
}

</table>
