@model Procurable.Models.Project

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-10">
        <h2 style="display:inline-block ">Project for @Html.ActionLink(Model.Request.Name.ToTitleCase(), "Details", "Requests", new { @id = Model.RequestID }, null) </h2>
        <div class="projectStatus">

            <h4>
                @Html.DisplayFor(model => model.Status, "_ProjectStatus")
                @Html.DisplayFor(model => model.Priority, "_ProjectPriority")

            </h4>
        </div>
    </div>
    <div class="col-md-2">
        <br />
        <div class="pull-right">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Create Task", "Create", "ProjectTasks", new { projectID = Model.ProjectID }, new { @class = "btn btn-default " })
        </div>
    </div>
</div>
<div>
    <hr />
    <dl class="projectDl">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedTo, "User")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.RequestedFor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.RequestedFor, "User")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.RequestedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.RequestedBy, "User")
        </dd>
        <dt>
            Request @Html.DisplayNameFor(model => model.Request.Comments)
        </dt>
        <dd>
            <p>
                @Html.DisplayFor(model => model.Request.Comments)
            </p>
        </dd>
        <dt>
            Project @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            <p>
                @Html.DisplayFor(model => model.Comments)
            </p>
        </dd>
    </dl>
    @Html.Partial("~/Views/ProjectTasks/Index.cshtml", ViewData["Tasks"])
</div>
@Html.DisplayNameFor(model => model.CreatedDate): @Html.DisplayFor(model => model.CreatedDate)
@Html.DisplayNameFor(model => model.LastModified): @Html.DisplayFor(model => model.LastModified)


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })</script>