@model IEnumerable<Procurable.Models.Request>

@{
    ViewBag.Title = "Index";
}



@if ((bool)ViewData["powerUser"])
{
   
    @Html.Action("Approve");
}


<h2>My Requests</h2>


<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-default" })
</p>

<table class="table-striped table " >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var newID = item.ID * 500000;
    <tr  >
        <td data-toggle="collapse" data-target="#@newID " class="accordion-toggle pointer">
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td data-toggle="collapse" data-target="#@newID " class="accordion-toggle pointer">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td data-toggle="collapse" data-target="#@newID " class="accordion-toggle pointer">
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td data-toggle="collapse" data-target="#@newID " class="accordion-toggle pointer">
            @Html.DisplayFor(modelItem => item.RequestedFor)
        </td>
        <td data-toggle="collapse" data-target="#@newID " class="accordion-toggle pointer">
            @if (item.StatusDisplay == "Opened")
            {
                <span class="label label-primary">
                    @Html.DisplayFor(modelItem => item.StatusDisplay)
                </span>
            }
            @if (item.StatusDisplay == "Denied")
            {
                <span class="label label-danger">
                    @Html.DisplayFor(modelItem => item.StatusDisplay)
                </span>
            }
            @if (item.StatusDisplay == "Approved")
            {
                <span class="label label-success">
                    @Html.DisplayFor(modelItem => item.StatusDisplay)
                </span>
            }

        </td>
        <td>


            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default   btn-xs" })
            @Html.ActionLink("Close", "Delete", new { id = item.ID }, new { @class = "btn btn-danger   btn-xs" })


        </td>
    </tr>
    
    <tr style="background: #CECECE">
        <td colspan="6" class="Hidden" style="padding: 0 !important;">
            <div id="@newID" class="panel-collapse collapse out">
                @Html.DisplayFor(modelItem => item.Items)
            </div>
        </td>
    </tr>
}

</table>


<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>