@model IEnumerable<Procurable.Models.InventoryItemIndex>

<table class="table" id="accordion">
    <tr>
        <th></th>
        <th>
            Vendor
        </th>
        <th>
            Item
        </th>
        <th>Count</th>
        <th>
            Price
        </th>
        <th>
            Comments
        </th>
        <th>
            Part Number
        </th>
        <th>
            Status
        </th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
        var itemIndex = Model.ElementAt(i);
        if (itemIndex.Count > 1)
        {
            <tr data-toggle="collapse" data-target=".row@(i)" data-parent="#accordion" class="accordion-toggle">
                <td>
                    <i class="fa fa-lg fa-fw fa-chevron-right"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemIndex.Item.First().Vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemIndex.Item.First().Name)
                </td>
                <td>@itemIndex.Count</td>
                <td>
                    $@Math.Round(itemIndex.Item.Average(x => x.Price), 2)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        foreach (var inventoryItem in itemIndex.Item)
        {
            <tr class="@(itemIndex.Count > 1 ? "hiddenRow accordion-body collapse active subLevel row" + i : "" )">

                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => inventoryItem.Vendor.Name)
                </td>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => inventoryItem.Name).ToHtmlString(), "Details", "InventoryItems", new { id = inventoryItem.ID }, null)

                </td>
                <td>1</td>
                <td>
                    $@Html.DisplayFor(modelItem => inventoryItem.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => inventoryItem.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => inventoryItem.PartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => inventoryItem.Status, "InventoryItemStatus")
                </td>
            </tr>
        }
    }

</table>
<script>
    function toggleChevron(e) {
        console.log('yes')
        $(e.target)
            .prev('.accordion-toggle')
            .find("i.fa")
            .toggleClass('fa-chevron-right fa-chevron-down');
    }
    $('#accordion').on('hidden.bs.collapse', toggleChevron);
    $('#accordion').on('shown.bs.collapse', toggleChevron);
</script>