@model IEnumerable<Procurable.Models.RequestedItem>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    
 
        
    
    <div class="col-md-10">
        <table class="table table-bordered" style="background: #F4F4F4; margin-bottom: 0">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.URL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item)
                </th>

                
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.URL) " target="_blank">@Html.DisplayFor(modelItem => item.URL)</a>
                    </td>
                    <td>
                        @if (item.Item != null)
                        {
                            @Html.ActionLink(item.Item.Name, "Details", "InventoryItems", new { id = item.ItemID }, null)
                        }
                        
                    </td>
                </tr>
            }
        </table>
    </div>


